.idea
target
.classpath
.project
*.iml
.gradle
.vscode
gradle-local.properties
docker/marklogic/logs

.DS_Store
src/test/studio-workspace/.metadata/
src/test/studio-workspace/.mule/
src/test/studio-workspace/.DS_Store
/examples/demos/.metadata/
/examples/demos/.mule/plugins-tmp/
/examples/demos/.tooling/
/examples/demos/.tooling-apps-cache/
